<% unsubscribe_col = form.object.class.has_unsubscribe_column? %>
<div class="email_preferences">
  <ul>
    <% form.object.class.keys.each do |key| %>
      <li>
        <%= form.check_box key %>
        <%= form.label key, form.object.class.describe(key) %>
      </li>
    <% end %>
    <% if unsubscribe_col %>
      <li class="unsubscribe">
        <%= form.check_box :unsubscribe_all, :id => 'unsubscribe_all' %>
      </li>
    <% end %>
  </ul>
</div>

<% if unsubscribe_col %>
  <script type="text/javascript">
    $('#unsubscribe_all').click(function(){
      checked = $(this).is(':checked'); 
      if(checked) {
        if(confirm('Are you sure you want to unsubscribe from all emails?')){
          $('.email_preferences input').attr('checked', false);
          $(this).attr('checked', true);
        }
      } else {
        $('.email_preferences input').attr('checked', true);
        $(this).attr('checked', false);
      }
    });
  
    $('.email_preferences input').click(function(){
      if($(this).attr('id') != 'unsubscribe_all' && $(this).is(':checked')){
        $('#unsubscribe_all').attr('checked', false);
      }
    });
  </script>
<% end %>